<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="Articulo-imagenes" value="C:\Users\rferr\Desktop\C# nivel 2\TPFinalNivel2_RodrigoFerrer\Articulo-imagenes\"/>
		
	</appSettings>
</configuration>